<% for( comment of i.comments){%>
<div class="diplayed_comment">
  <a href="/users/profile?id=<%=comment.user._id%>">
    <h4><%=comment.user.name%>:</h4>
  </a>

  <p><%=comment.comment%></p>
  <% if(locals.user && locals.user.id == comment.user.id || locals.user &&
  locals.user.id == i.user.id){%>
  <div class="comment_delete_container">
    <a class="comment_delete_link" href="/comments/destroy?id=<%=comment._id%>">
      <img
        width="100%"
        height="100%"
        src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png"
        alt=""
      />
    </a>
  </div>
  <%}%>
</div>

<%}%>
