<link rel="stylesheet" href="/css/chatBox.css" />

<div id="chat_box">
<div id="chat">
    <p class="friend">You</p>
    <p class="user">Me</p>
</div>
<form action="">
    <input type="text" placeholder="Type message here" required>
    <button>Send</button>
</form>
</div>

<div id="chat_logo">
    <img src="https://cdn-icons-png.flaticon.com/512/566/566718.png" alt="chat">
</div>

<script src="/js/chatBox.js"></script>