<link rel="stylesheet" href="/css/chatBox.css" />

<div id="chat_box">
  <div id="chat">
    <!-- <p class="other">
      <sub>Jashan</sub>
      <span>Hlo</span>
    </p>
    <p class="self">Me</p> -->
  </div>
  <!-- <form action=""> -->
  <div id="form">
    <input
      id="message_input"
      type="text"
      placeholder="Type message here"
      required
    />
    <button id="send_message">Send</button>
  </div>
  <!-- </form> -->
</div>

<div id="chat_logo">
  <img src="https://cdn-icons-png.flaticon.com/512/566/566718.png" alt="chat" />
</div>
