<link rel="stylesheet" href="<%=assetPath('css/chatBox.css')%>" />

<div id="chat_box">
  <div id="chat">
    <% for(let i of chat){%> 
      
      <%if (locals.user.id == i.user.id){%>
    <p class="self">
    <%}else{%>
    <p class="other">
      <%}%>
      <sub> <%=i.user.name%> </sub>
      <span> <%=i.content%> </span>
    </p>
    <%}%>                          

  </div>
  <form id="send_message_form" action="/chats/create" type="post">
    <!-- <div id="form"> -->
    <input
      id="message_input"
      type="text"
      name="message"
      placeholder="Type message here"
      required
    />
    <button type="submit" id="send_message">Send</button>
    <!-- </div> -->
  </form>
</div>

<div id="chat_logo">
  <img src="https://cdn-icons-png.flaticon.com/512/566/566718.png" alt="chat" />
</div>
