<link rel="stylesheet" href="/css/footer.css" />

<footer>
  <div>Made by @jashan</div>
  <div class="footer_nav_container">
    <ul>
      <li>
        <a href="/"> Home</a>
      </li>

      <% if(locals.user) {%>
      <li>
        <a href="/users/profile?id=<%-user.id%>"> Profile</a>
      </li>

      <%} %>
    </ul>
  </div>
</footer>
