<link rel="stylesheet" href="/css/header.css" />

<nav id="nav">
  <div class="logo">
    <a href="/">
      <h3>Codeial</h3>
    </a>
  </div>
  <div class="list_container">
    <ul>
      <li>
        <a href="/"> Home</a>
      </li>

      <% if(locals.user) {%>
      <li>
        <a href="/users/profile?id=<%-user.id%>"> Profile</a>
      </li>
      <li>
        <a href="/users/logout"> Logout</a>
      </li>
      <li>
        <a href="/users/profile?id=<%-user.id%>"> <%-user.name%></a>
      </li>
      <%}else{ %>
      <li>
        <a href="/users/login"> Login</a>
      </li>
      <li>
        <a href="/users/signup"> Register</a>
      </li>
      <%} %>
    </ul>
  </div>
</nav>
