<link rel="stylesheet" href="<%=assetPath('css/forgotPassword.css')%>" />

<div>
  <h2>Please check Your register email</h2>
  <a href="/users/login">
    <button>Go back to Login</button>
  </a>
</div>
