<link rel="stylesheet" href="<%=assetPath('css/friends_page.css')%>" />

<section id="outer_container">
<div id="friends_container">
    <h1>Friends</h1>
    <ul>
      <%if(friends.length){%>
        
      <% for(let i of friends){%>
      <li><a href="/users/profile?id=<%=i.user_to._id%>"><%=i.user_to.name%></a></li>
      <%}%>

      <%}else{%>
        <li>No Friends</li>
        <%}%>
    




    </ul>

  </div>
</section>
