<link rel="stylesheet" href="/css/home.css" />

<section>
  <form id="addPost_form" action="/posts/create" method="post">
    <textarea
      placeholder="Type here..."
      name="content"
      cols="30"
      rows="3"
    ></textarea>
    <button type="submit">Post</button>
  </form>
</section>
