<link rel="stylesheet" href="/css/home.css" />

<section>
  <% if(locals.user) {%>

  <form id="addPost_form" action="/posts/create" method="post">
    <textarea
      placeholder="Type here..."
      name="content"
      cols="30"
      rows="3"
      required
    ></textarea>
    <button type="submit">Post</button>
  </form>
  <%} %>
</section>
<section class="posts_Conatiner">
  <% for(let i of posts){%>
  <div class="single_post_container">
    <h4><%-i.user.name %></h4>
    <hr />
    <p><%-i.content %></p>
    <hr />
    <div class="post_img_container">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png"
        alt=""
        width="100%"
        height="100%"
      />
      <p>10</p>
      <img
        class="comment_icon"
        src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png"
        alt=""
        width="100%"
        height="100%"
      />
      <p>5</p>
    </div>
    <div class="comment_form_container">
      <form action="/comments/createComment" method="post">
        <input name="comment" width="100%" type="text" required />
        <input name="post" value="<%-i._id%>" type="hidden" required />

        <button type="submit">Add</button>
      </form>
    </div>

    <hr />
    <h3 class="comments_header">Comments:-</h3>
    <div class="diplayed_comment">
      <h4>Jashan:</h4>
      <p>Wow</p>
    </div>
  </div>

  <%}%>
</section>
