<link rel="stylesheet" href="/css/login_signup.css" />

<div class="outer_container">
  <form action="/users/create" method="post">
    <div>
      <label for="signup_name">Name</label>
      <input id="signup_name" name="name" type="text" required />
    </div>
    <div>
      <label for="signup_email">Email</label>
      <input id="signup_email" name="email" type="email" required />
    </div>
    <div>
      <label for="signup_password">Password</label>
      <input id="signup_password" name="password" type="password" required />
    </div>
    <div>
      <label for="signup_confirmPassword">Confirm Password</label>
      <input
        id="sign_up_confirmPassword"
        name="confirmPassword"
        type="password"
        required
      />
    </div>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>
</div>
