<link rel="stylesheet" href="/css/user_profile.css" />

<div class="outer_container">
  <div class="profile_container">
    <div class="img">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
        alt=""
      />
    </div>
    <div class="name"><%=user.name%></div>
    <div class="email"><%=user.email%></div>
  </div>
</div>
