<link rel="stylesheet" href="<%=assetPath('css/login_signup.css')%>" />

<div class="outer_header_form_container">
  <form
    id="change_password_form"
    action=""
    method="post"
  >
    <div>
      <label for="signup_password">Password</label>
      <input id="signup_password" name="password" type="password" required />
    </div>
    <div>
      <label for="signup_confirmPassword">Confirm Password</label>
      <input
        id="sign_up_confirmPassword"
        name="confirmPassword"
        type="password"
        required
      />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="<%=assetPath('js/change_password_form.js')%>"></script>