
<div>
  <p>Hi <%=forgetPasswordUser.user.name%>!</p>
  <p>Click to reset Password for <%=forgetPasswordUser.user.email%></p>

  <a
    href="http://35.183.126.12/users/resetUserPassword?<%=forgetPasswordUser.accessToken%>"
  >
    <button>forgot Password</button>
  </a>
</div>
