<link rel="stylesheet" href="/css/forgotPassword.css" />

<div>
  <p>Hi <%=forgetPasswordUser.user.name%>!</p>
  <p>Click to reset Password for <%=forgetPasswordUser.user.email%></p>

  <a
    href="http://localhost:8000/users/resetUserPassword?accessToken=<%=forgetPasswordUser.accessToken%>"
  >
    <button>forgot Password</button>
  </a>
</div>
