<div>
  <p>Hi <%=forgetPasswordUser.user.name%>!</p>
  <br />
  <p>Click to reset Password for <%=forgetPasswordUser.user.email%></p>
  <br />
  <button>
    <a href="/users/resetUserPassword?<%=forgetPasswordUser.accessToken%>"
      >forgot Password</a
    >
  </button>
</div>
