#addPost_form {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-left: 10px;
    background-color: rgb(172, 86, 86);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: rgb(200, 200, 200);
      color: rgb(0, 0, 0);
    }
  }
}

.posts_Conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .single_post_container {
    box-sizing: border-box;
    margin-top: 20px;
    width: 40%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
    border-radius: 5%;
    text-align: start;
    padding: 8px 10px;
  }

  h4 {
    margin: 0;
  }
  p {
    margin: 5px 0;
  }
  .post_img_container {
    display: flex;
    height: 20px;
    width: 60px;
  }

  .comment_icon {
    margin-left: 15px;
  }
}
