#home_page_full_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  main {
    width: 60%;
  }
}

#addPost_form {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-left: 10px;
    background-color: rgb(172, 86, 86);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: rgb(200, 200, 200);
      color: rgb(0, 0, 0);
    }
  }
}

.posts_Conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .single_post_container {
    box-sizing: border-box;
    margin-top: 20px;
    width: 90%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    text-align: start;
    padding: 8px 10px;
    position: relative;
  }
  .Post_delete_btn {
    position: absolute;
    right: 2%;
    top: 2%;
    box-sizing: border-box;
    width: 1.5rem;
  }
  h4 {
    margin: 0;
  }
  a {
    color: black;
    text-decoration: none;
  }
  p {
    margin: 5px 0;
  }
  .post_img_container {
    display: flex;
    height: 20px;
    width: 60px;
  }
  .like_btn_container {
    .toggle-like-button {
      display: flex;
    }
    i {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  #black_color_like{
    color: black;
  }
  #red_color_like{
    color: red;
  }

  .comment_icon {
    margin-left: 15px;
  }
}

.comment_form_container {
  margin-top: 10px;

  input {
    width: 65%;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 4px;
    height: 1.3rem;
  }
  button {
    box-sizing: border-box;
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(58, 58, 180);
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      background-color: rgb(186, 186, 186);
      color: black;
    }
  }
}
.comments_header {
  margin: 0 0 8px 0;
}
.diplayed_comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4px;

  .left_container,
  .comment_delete_container {
    display: flex;

    i {
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .comment_delete_btn_conatiner {
    width: 15px;
    height: 18px;
  }

  p {
    font-size: 0.9rem;
    padding: 0;
    margin: 0 0 0 5px;
  }
  h4 {
    padding: 0;
    margin: 0;
  }
}

.friends_list_container {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
  border-radius: 10px;
  width: 25%;
  margin-top: 74px;

  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
