.outer_header_form_container {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 0;
    min-height: 60%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
    border-radius: 5%;
    @media only screen and (max-width: 600px) {
      width: 80%;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  label {
    align-self: flex-start;
    font-size: 1.1rem;
  }

  input {
    border: 2px solid rgb(197, 197, 197);
    height: 1.3rem;
    width: 100%;
    min-width: 0;
    
  }

  button {
    background-color: rgb(72, 72, 225);
    padding: 8px 18px;
    color: white;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }

  button:hover {
    background-color: rgb(186, 186, 186);
    color: black;
  }
  #login_btn {
    background-color: rgb(136, 73, 243);
  }

  #login_btn:hover {
    background-color: rgb(186, 186, 186);
    color: black;
  }
}
#google_btn {
  a {
    color: inherit;
    text-decoration: none;
  }
  button {
    background-color: rgb(152, 100, 2);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    transition: all 0.4s;
    &:hover {
      background-color: rgb(184, 184, 184);
      color: black;
    }
  }
}

#forget_password {
  align-self: flex-end;
  margin: 2rem 1rem 0 0;

  a {
    color: inherit;
  }
}
