footer {
  background-color: lightblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  color: black;
}

.footer_nav_container ul {
  list-style: none;
  display: flex;
}

.footer_nav_container li {
  margin-left: 20px;
}

.footer_nav_container a {
  text-decoration: none;
  color: inherit;
}
