button {
  background-color: #4040ed;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  transition: all 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #b8b8b8;
  color: black;
}
