#nav {
  background-color: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  z-index: 2;
}

#nav .logo {
  padding-left: 30px;
  width: 50%;
  text-align: start;
}

#nav #dropDown_icon {
  display: none;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#nav #dropDown_icon i {
  font-size: 1.7rem;
}

@media only screen and (max-width: 600px) {
  #nav #dropDown_icon {
    display: flex;
    z-index: 10;
  }
}

@media only screen and (max-width: 600px) {
  #nav #list_container {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #nav #friend_li {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #nav #friend_li {
    display: block;
  }
}

#nav #list_container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#nav li {
  font-size: 1.2rem;
  margin-right: 20px;
}

#nav a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 600px) {
  #nav #list_container {
    position: absolute;
    background-color: lightblue;
    top: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #nav #dropDown_list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #nav #dropDown_list li {
    font-size: 1.2rem;
    list-style: none;
    padding: 5px 0;
    margin: 0;
  }
  #nav #dropDown_list a {
    text-decoration: none;
    color: inherit;
    padding: 0;
  }
}
