#home_page_full_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#home_page_full_container main {
  width: 60%;
}

#addPost_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#addPost_form button {
  margin-left: 10px;
  background-color: #ac5656;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.4s;
}

#addPost_form button:hover {
  background-color: #c8c8c8;
  color: black;
}

.posts_Conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts_Conatiner .single_post_container {
  box-sizing: border-box;
  margin-top: 20px;
  width: 90%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
  border-radius: 10px;
  text-align: start;
  padding: 8px 10px;
  position: relative;
}

.posts_Conatiner .Post_delete_btn {
  position: absolute;
  right: 2%;
  top: 2%;
  box-sizing: border-box;
  width: 1.5rem;
}

.posts_Conatiner h4 {
  margin: 0;
}

.posts_Conatiner a {
  color: black;
  text-decoration: none;
}

.posts_Conatiner p {
  margin: 5px 0;
}

.posts_Conatiner .post_img_container {
  display: flex;
  height: 20px;
  width: 60px;
}

.posts_Conatiner .like_btn_container .toggle-like-button {
  display: flex;
}

.posts_Conatiner .like_btn_container i {
  font-size: 1.2rem;
  cursor: pointer;
}

.posts_Conatiner #black_color_like {
  color: black;
}

.posts_Conatiner #red_color_like {
  color: red;
}

.posts_Conatiner .comment_icon {
  margin-left: 15px;
}

.comment_form_container {
  margin-top: 10px;
}

.comment_form_container input {
  width: 65%;
  border: 2px solid #bdbdbd;
  border-radius: 4px;
  height: 1.3rem;
}

.comment_form_container button {
  box-sizing: border-box;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #3a3ab4;
  transition: all 0.4s;
  cursor: pointer;
}

.comment_form_container button:hover {
  background-color: #bababa;
  color: black;
}

.comments_header {
  margin: 0 0 8px 0;
}

.diplayed_comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4px;
}

.diplayed_comment .left_container,
.diplayed_comment .comment_delete_container {
  display: flex;
}

.diplayed_comment .left_container i,
.diplayed_comment .comment_delete_container i {
  margin-right: 10px;
  cursor: pointer;
}

.diplayed_comment .comment_delete_btn_conatiner {
  width: 15px;
  height: 18px;
}

.diplayed_comment p {
  font-size: 0.9rem;
  padding: 0;
  margin: 0 0 0 5px;
}

.diplayed_comment h4 {
  padding: 0;
  margin: 0;
}

.friends_list_container {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
  border-radius: 10px;
  width: 25%;
  margin-top: 74px;
}

.friends_list_container ul {
  list-style: none;
  padding: 0;
}

.friends_list_container li {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.friends_list_container a {
  text-decoration: none;
  color: black;
}
