.outer_container {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 60%;
  padding: 20px 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
  border-radius: 5%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .profile_container {
    width: 80%;
  }
}

.profile_container div {
  margin: 5px 0;
  font-size: 1.3rem;
}

.img {
  width: 20%;
  padding-bottom: 30px;
}

.img img {
  width: 100%;
  height: 100%;
}

.btn_container {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn_container button {
  background-color: #4040ed;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  transition: all 0.4s;
  cursor: pointer;
}

.btn_container button:hover {
  background-color: #b8b8b8;
  color: black;
}

.add_frind_btn {
  margin-top: 30px;
  background-color: #4040ed;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  transition: all 0.4s;
  cursor: pointer;
}

.add_frind_btn:hover {
  background-color: #b8b8b8;
  color: black;
}

#profile_edit_form {
  display: none;
  flex-direction: column;
  align-items: center;
}

#profile_edit_form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

#profile_edit_form input {
  width: 100%;
  min-width: 0;
}

#profile_edit_form button {
  background-color: #4040ed;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 10px 0;
  transition: all 0.4s;
  cursor: pointer;
}

#profile_edit_form button:hover {
  background-color: #b8b8b8;
  color: black;
}

#preview_container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

#preview_container div {
  width: 50%;
  height: 50%;
}

#preview_container button {
  margin-top: 2rem;
  align-self: end;
}

#preview_container img {
  width: 100%;
  height: 100%;
}
